<div class="container-fluid text-bg-dark height-100vh" >
  <div class="d-flex align-items-center flex-column justify-content-center height-100vh">
    <div class="image-container d-flex justify-content-center">
      <img src="assets/imgs/homer.png" alt="homer-thinking" class="img mx-auto d-block" style="max-height: 25em;">
    </div>
    <div class="text-container">
      <div class="d-flex justify-content-center align-middle" style="margin-top: 2em;">
        <p class="fs-3">Armando todavia esta pensando en su portfolio. Mientras puedes <a href="#">seguirme en LINKEDIN</a></p>
    </div>
  </div>
</div>
